<div id="game-controls">
    <p class="notes">This form describes common keyboard and mouse commands used to control various aspects of the Foundry Virtual Tabletop environment. Some controls are only available to a GameMaster user, those are highlighted in light purple.</p>

    <h2 id="game">General Game Controls</h2>
    <p class="notes">These controls generally apply across all aspects of Foundry functionality.</p>

    <h3 id="game-keyboard">Keyboard Controls</h3>
    <ol class="hotkey-list">
        <li>
            <h4>Close Open Windows</h4>
            <div class="keys">
                <span class="key">Esc</span>
            </div>
        </li>
        <li>
            <h4>Toggle Main Menu</h4>
            <div class="keys">
                <span class="key">Esc</span>
            </div>
        </li>
        <li class="gm">
            <h4>Toggle Game Pause</h4>
            <div class="keys">
                <span class="key">Space</span>
            </div>
        </li>

        <li>
            <h4>Activate Hotbar Slot</h4>
            <div class="keys">
                <span class="key">1</span>
                <span class="key">2</span>
                <span class="key">3</span> ...
                <span class="key">0</span>
            </div>
        </li>
    </ol>

    <h2 id="canvas">Canvas Layer Controls</h2>
    <p class="notes">These controls apply when interacting with a specific Canvas layer.</p>

    <h3 id="canvas-mouse">Mouse Controls</h3>
    <ol class="hotkey-list">
        <li>
            <h4>Select Object</h4>
            <div class="keys">
                <span class="key">Left Click</span>
            </div>
        </li>

        <li>
            <h4>Add or Remove Selected Objects</h4>
            <div class="keys">
                <span class="key">Shift</span> +
                <span class="key">Left Click</span>
            </div>
        </li>

        <li>
            <h4>Use Active Tool</h4>
            <div class="keys">
                <span class="key">Left Click</span> +
                <span class="key">Drag</span>
            </div>
        </li>

        <li>
            <h4>Cancel Left-Drag Operation</h4>
            <div class="keys">
                <span class="key">Right-Click</span>
            </div>
        </li>

        <li>
            <h4>Pan Canvas</h4>
            <div class="keys">
                <span class="key">Right-Click</span> +
                <span class="key">Drag</span>
            </div>
        </li>
        <li>
            <h4>Zoom Canvas</h4>
            <div class="keys">
                <span class="key">Mouse-Wheel</span>
            </div>
        </li>
    </ol>

    <h3 id="canvas-keyboard">Keyboard Controls</h3>
    <ol class="hotkey-list">
        <li>
            <h4>Highlight Canvas Objects</h4>
            <div class="keys">
                <span class="key">Alt</span>
            </div>
        </li>
        <li>
            <h4>Cycle Tokens or Reset View</h4>
            <div class="keys">
                <span class="key">Tab</span>
            </div>
        </li>
        <li>
            <h4>Pan Canvas</h4>
            <div class="keys">
                <span class="key">Ctrl</span> +
                <span class="key">↑</span>
                <span class="key">↓</span>
                <span class="key">←</span>
                <span class="key">→</span>
            </div>
        </li>
        <li>
            <h4>Zoom In</h4>
            <div class="keys">
                <span class="key">Page Up</span> or
                Numpad <span class="key">+</span>
            </div>
        </li>
        <li>
            <h4>Zoom Out</h4>
            <div class="keys">
                <span class="key">Page Down</span> or
                Numpad <span class="key">-</span>
            </div>
        </li>
    </ol>

    <h3 id="ruler">Ruler Measurement</h3>
    <ol class="hotkey-list">
        <li>
            <h4>Measure Distance with Ruler</h4>
            <div class="keys">
                <span class="key">Ctrl</span> +
                <span class="key">Left-Click Drag</span>
            </div>
        </li>
        <li>
            <h4>Place Measurement Waypoint</h4>
            <div class="keys">
                <span class="key">Ctrl</span> +
                <span class="key">Left Click</span>
            </div>
        </li>
        <li>
            <h4>Move Token on Measured Path</h4>
            <div class="keys">
                <span class="key">Space</span> while measuring from a Token
            </div>
        </li>
    </ol>


    <h2 id="placeables">Placeable Object Controls</h2>
    <p class="notes">These controls apply when interacting with an Object placed on the Canvas.</p>

    <h3 id="placeables-mouse">Mouse Controls</h3>
    <ol class="hotkey-list">
        <li>
            <h4>Select Object</h4>
            <div class="keys">
                <span class="key">Left Click</span>
            </div>
        </li>
        <li>
            <h4>Open Referenced Object Sheet</h4>
            <div class="keys">
                Double <span class="key">Left Click</span>
            </div>
        </li>
        <li>
            <h4>Display Object HUD (If Applicable)</h4>
            <div class="keys">
                <span class="key">Right-Click</span>
            </div>
        </li>

        <li>
            <h4>Open Object Configuration Sheet</h4>
            <div class="keys">
                Double <span class="key">Right-Click</span>
            </div>
        </li>

        <li>
            <h4>Move Controlled Objects</h4>
            <div class="keys">
                <span class="key">Left Click</span> +
                <span class="key">Drag</span> +
                <span class="key">Drop</span>
            </div>
        </li>

        <li>
            <h4>Bypass Snap-to-Grid</h4>
            <div class="keys">
                <span class="key">Drag</span> +
                <span class="key">Shift</span> +
                <span class="key">Drop</span>
            </div>
        </li>

        <li>
            <h4>Cancel Drag Workflow</h4>
            <div class="keys">
                <span class="key">Right-Click</span> during
                <span class="key">Drag</span>
            </div>
        </li>
        <li>
            <h4>Rotate Object (Slow)</h4>
            <div class="keys">
                <span class="key">Ctrl</span> + <span class="key">Mouse-Wheel</span>
            </div>
        </li>
        <li>
            <h4>Rotate Object (Fast)</h4>
            <div class="keys">
                <span class="key">Shift</span> + <span class="key">Mouse-Wheel</span>
            </div>
        </li>
    </ol>

    <h3 id="placeables-keyboard">Keyboard Controls</h3>
    <ol class="hotkey-list">
        <li>
            <h4>Keyboard Movement (Tokens or Tiles)</h4>
            <div class="keys">
                <span class="key">W</span>
                <span class="key">A</span>
                <span class="key">S</span>
                <span class="key">D</span> or
                <span class="key">↑</span>
                <span class="key">↓</span>
                <span class="key">←</span>
                <span class="key">→</span>
            </div>
        </li>
        <li>
            <h4>Diagonal Movement</h4>
            <div class="keys">
                <span class="key">W</span> +
                <span class="key">D</span> or
                <span class="key">↑</span> +
                <span class="key">→</span>
            </div>
        </li>
        <li>
            <h4>Face Direction</h4>
            <div class="keys">
                <span class="key">Shift</span> +
                <span class="key">W</span>
                <span class="key">A</span>
                <span class="key">S</span>
                <span class="key">D</span>
            </div>
        </li>
        <li>
            <h4>Delete Selected Objects</h4>
            <div class="keys">
                <span class="key">Delete</span>
            </div>
        </li>

        <li class="gm">
            <h4>Copy Canvas Elements</h4>
            <div class="keys">
                <span class="key">Ctrl</span> + <span class="key">C</span>
            </div>
        </li>
        <li class="gm">
            <h4>Paste Canvas Elements</h4>
            <div class="keys">
                <span class="key">Ctrl</span> + <span class="key">V</span>
            </div>
        </li>
        <li>
            <h4>Undo Canvas Operation</h4>
            <div class="keys">
                <span class="key">Ctrl</span> + <span class="key">Z</span>
            </div>
        </li>
    </ol>

    <h2 id="special">Specialized Controls</h2>
    <p class="notes">These controls apply only during specific interactions.</p>

    <h3 id="token">Token Controls</h3>
    <ol class="hotkey-list">
        <li class="gm">
            <h4>Place Hidden Token</h4>
            <div class="keys">
                <span class="key">Alt</span> + <span class="key">Drop</span>
                when creating a Token.
            </div>
        </li>
        <li>
            <h4>Set (non-Owned) Token as Target</h4>
            <div class="keys">
                Double <span class="key">Right-Click</span>
            </div>
        </li>
    </ol>

    <h3 id="walls">Walls Layer Controls</h3>
    <ol class="hotkey-list">
        <li class="gm">
            <h4>Chain Wall Creation</h4>
            <div class="keys">
                Hold <span class="key">Ctrl</span>
            </div>
        </li>
        <li class="gm">
            <h4>Select Chained Segments</h4>
            <div class="keys">
                <span class="key">Alt</span> + <span class="key">Left Click</span>
            </div>
        </li>
    </ol>

    <h3 id="drawing">Drawing Tool Controls</h3>
    <ol class="hotkey-list">
        <li>
            <h4>Confirm Drawing Text</h4>
            <div class="keys">
                <span class="key">Enter</span>
            </div>
        </li>
        <li>
            <h4>Cancel Drawing Text</h4>
            <div class="keys">
                <span class="key">Escape</span>
            </div>
        </li>
    </ol>
</div>