<p>Foundry Virtual Tabletop was built with modularity in mind and provides a strong framework for creating and building Add-on Modules and Game Systems. However, creating content often requires adhering to policies from outside the Foundry community.</p>

<h2 id="introduction">Introduction</h2>
<p>Many publishers and game companies provide ways to license and build supplementary material for their games, and it can sometimes be difficult to understand what is allowed under those licenses. This article is intended to help shed some light on the development process and help you do your best to not run into problems submitting content for listing in Foundry VTT's packages list.</p>
    
<h2 id="submission">Package Submission</h2>
<p>When you submit your content to Foundry VTT to have it listed on the packages list, whether it be a World, Game System, or Module, we check it to see if it contains anything that might raise content concerns. Each submission is examined with the following things in mind:</p>
<ul>
    <li>Does the author have the rights to everything this module contains?</li>
    <li>Does it contain content from another company, and if so, does it meet that company's licensing requirements?</li>
    <li>Does it contain art assets which the author did not create?</li>
</ul>
<p> When it comes to creation of work for Foundry VTT, the greatest point of concern is whether you are actually creating something of your own or whether you are simply copy-pasting content for republishing. Modules which just change core functionality of FVTT are mostly exempted from this, as they primarily bring code changes.</p>
<p>It is usually okay to include a line or two of text from a rule-book in the whole of a module if the module otherwise contains a much larger volume of information you have written yourself. It is not okay to take whole pages from a published rule book and place it in a FVTT addon module for distribution unless you have a license agreement that lets you do so.</p>
<p>You must also have the rights to share any artwork, icons, or music files which are distributed with your module or game system. </p>

<h3 id="licensing">Licensing</h3>
<p>There are a wide variety of license agreements from various publishers, many of which are available directly on the website of the company that publishes the material you want to use. A license agreement <em>typically</em> contains very specific legal terms outlining what is and isn't okay to use when creating fan content based on their intellectual property. These licenses often require an application process for permission, or in some cases they are open for use provided the terms are followed.</p>
<p>It can sometimes be difficult to locate the licensing information from a content creator. If you are not certain what the licensing rules are for the game, publisher, marketplace or content creator you wish to use content from, the simplest thing to do is to <strong>contact them.</strong> Often a lot of later legal strife can be prevented by talking to the creator early. If you are having trouble locating this information reach out to us using the contact form on this page, and we will gladly provide any help we can in locating contact information for the original creator.</p>
<hr>

<h2 id="faq">Frequently Asked Questions</h2>
<p><strong>Why are most systems for Foundry VTT limited to SRD and OGL content?</strong></p>
<p>At this time Foundry Gaming LLC does not have a commercial marketplace or any commercial license with a publisher to allow their official content to be distributed. Game Systems are community-driven, and developed by dedicated community members who distribute their hard work for free to the rest of the community.</p>
<p><strong>Who do I contact with questions about licensing?</strong></p>
<p>If you are a publisher with questions, or interested in discussing commercial licensing agreements please <a href="https://foundryvtt.com/contact-us/" target="_blank" rel="nofollow">Contact Us</a>.</p>
<p>If you are a content creator trying to confirm if your content is compliant with a license agreement, we recommend you reach out to relevant publisher. While we will always do our best to assist you in making sure you aren't violating any agreements, the best answers about compliance will <strong>always</strong> come from the publishers themselves.</p>
<p><strong>I do not live in the United States of America, does all of this licensing stuff apply to me?</strong></p>
<p>Very likely. Most countries work to ensure Intellectual Property receives equal protections under an agreement called the Berne Convention.</p>
<p><strong>Can't I just develop and let the licensing sort itself out?</strong></p>
<p>Foundry Gaming LLC. does not condone or support the violation of Licensing Agreements, Terms of Use, or Intellectual Property Law in any way. If you choose to develop content for use in Foundry Virtual Tabletop that violates agreements (whether willfully or through ignorance), you are opening yourself up to legal consequences. As we are in no way responsible for your content, we have no ability or responsibility to protect you from those legal consequences.</p>
<hr>